@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --cor-primaria:#F06;
    --cor-texto:#FFF;
    --bg-padrao: #111;
    --bg-destaque:#2d2d2d;
    --font-padrao:'Roboto', sans-serif;
}

body{
    background-color: var(--bg-padrao);
    font-family: var(--font-padrao);
}
header{
    background-color: var(--bg-destaque);
}
#titulo{
    color: var(--cor-primaria);
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}
nav li{
    list-style: none;
}
a{
    color: var(--cor-texto);
    font-size: 18px;
    text-decoration: none;
}
#hero span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 44px;
    letter-spacing: 0.04em;
    color: var(--cor-texto);
    text-shadow: 0px 4px 4px #000;
}
h2{
    color: var(--cor-texto);
    border-left: var(--cor-primaria) 5px solid;

}
.card{
    background-color: var(--bg-destaque);
}
.card img{
    border-radius: 5px;
    width: 120px;
}
.botao{
    background-color: var(--cor-primaria);
    padding: 5px 20px;
    border-radius: 5px;
}
.card p{
    color: var(--cor-texto);
}
#hero